*{
    font-family: 'Patrick Hand', cursive;
}

body{
    /* background-color: #35506c;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(284.67deg, #00497a, #007acc 83.92%); */
}

#validity-status{
     display: none;
     background-color: whitesmoke;
}

#validity{
     display: inline-block;
     color: red;
}

#controls-buttons {
    /* display: flex;
     justify-content: space-between;
    */
}

.game-view {
    display: flex;
}

.controls {
    margin-left: 20px;
    width: 230px;
    height: 450px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    display: block;
    width: 100%;
    height: 30px;
    font-size: large;
}

.control-item{
    margin-top: 20px;
}

.link-button{
    width: fit-content;
}

.my-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    margin: 40px 0;
}